<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">

<p-menubar class="menubar" [model]="items">
    <button class="backButton" pButton label="Zurück" (click)="back()"></button>
    <span class="ticketId" type="text">Ticket-ID: {{this.ticketId}}</span>
    <span class="user" type="text">Micha Mettler</span>
    <button class="logoutButton" pButton label="Logout" icon="fa fa-sign-out"></button>
</p-menubar>
<div class="content">

    <div class="welcomeText">
        Vielen Dank, dass Sie unseren Supportdienst in Anspruch genommen haben.
        <br><br><br>
        Gerne würden wir Sie bitten unsere Dienstleistung zu bewerten,
        damit wir unser Angebot Ihren Bedürfnissen entsprechend anpassen können.
        <hr>
    </div>

    <div class="question1">
        <h3>
            Wie zufrieden waren Sie mit der Qualität der Dienstleistung?
        </h3>
        <div class="ui-g-12 ratings">
            <div class="ui-g-3"><p-radioButton value="1" label="unzufrieden" [(ngModel)]="review.quality" ></p-radioButton></div>
            <div class="ui-g-3"><p-radioButton value="2" label="eher unzufrieden" [(ngModel)]="review.quality" ></p-radioButton></div>
            <div class="ui-g-3"><p-radioButton value="3" label="eher zufrieden" [(ngModel)]="review.quality" ></p-radioButton></div>
            <div class="ui-g-3"><p-radioButton value="4" label="zufrieden" [(ngModel)]="review.quality" ></p-radioButton></div>
        </div>
    </div>

    <div class="question2">
        <h3>
            Wie zufrieden waren Sie mit der Dauer für die Bearbeitung Ihres Tickets?
        </h3>
        <div class="ui-g-12 ratings">
            <div class="ui-g-3"><p-radioButton value="1" label="unzufrieden" [(ngModel)]="review.duration" ></p-radioButton></div>
            <div class="ui-g-3"><p-radioButton value="2" label="eher unzufrieden" [(ngModel)]="review.duration" ></p-radioButton></div>
            <div class="ui-g-3"><p-radioButton value="3" label="eher zufrieden" [(ngModel)]="review.duration" ></p-radioButton></div>
            <div class="ui-g-3"><p-radioButton value="4" label="zufrieden" [(ngModel)]="review.duration" ></p-radioButton></div>
        </div>
    </div>

    <div class="question3">
        <h3>
            Wollen Sie uns sonst noch etwas mitteilen?
        </h3>
        <textarea class="textArea" pInputTextarea [(ngModel)]="review.opinion"></textarea>
    </div>

    <div class="submitClass">
        <div class="buttonBox">
            <p-toggleButton onLabel="Bewertung abschicken" offLabel="Bewertung abgeschickt" (click)="submit()"></p-toggleButton>
        </div>
    </div>
</div>