body {
    font-family: 'Nanum Gothic', sans-serif;
}

.content {
    font-family: 'Nanum Gothic', sans-serif;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
}

.welcomeText {
    font-style: italic;
}


.question1 {
    margin-top: 30px;
}

.question2 {
    margin-top: 120px;
}

.question3 {
    margin-top: 120px;
}

.textArea {
    margin-top: 10px;
    width: 100%;
    height: 100px
}

.buttonBox {
    text-align: center;
    width: 100%;
    margin-top: 30px;
}

.ticketId {
    margin-left: 25px
}

.user {
    margin-left: 1125px;
    margin-right: 25px;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}