body {
    font-family: 'Nanum Gothic', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

button {
    margin-left: 25px;
}

.content {
    padding-left: 80px;
    padding-right: 80px;
}

.successMessage {
    margin-top: 50px;
}

td {
    text-align: center;
    height: 60px
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }

