<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">

<body>
    <p-menubar class="menubar" [model]="items">
            <span type="text">Micha Mettler</span>
            <button pButton label="Logout" icon="fa fa-sign-out"></button>
    </p-menubar>
    <h1>Supportprozesse</h1>
    <div class="content">
            <p-table [value]="tickets">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Ticket-ID</th>
                            <th>Beschreibung</th>
                            <th>Erstellt am</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-ticket>
                        <tr>
                            <td>{{ticket.id}}</td>
                            <td>{{ticket.description}}</td>
                            <td>{{formatDate(ticket.validAt)}}</td>
                            <td>
                                <div *ngIf="ticket.status">
                                    offen
                                </div>
                                <div *ngIf="!ticket.status">
                                    geschlossen
                                </div>
                            </td>
                            <td>
                                <div *ngIf="ticket.status">
                                    <a [routerLink]="" (click)="closeTicket(ticket)">schliessen</a>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
    </div>

    <div class="footer">
        <p>Manuel Gasser, Micha Mettler, IABM16a, Modul 150</p>
    </div>

</body>